<div class="font-semibold font-title">Configure your app here</div>
<p>
    <div>
        <label for="tabChoice">Select the category you would like to see: </label>
        <select id="tabChoice" name="tabChoice">
            <option value="" selected="selected">(Select a category)</option>
            <option value="listItem-All">All</option>
            <option value="listItem-Computer">Computer</option>
            <option value="listItem-Accessory">Accessory</option>
        </select>
    </div>
</p>
